<p class=comp>
  component: geoloc
</p>
<h1 class=testme>Testme class</h1>

<button class="clear" (click)="messageService.add('test message 1')">msg1</button>
<!-- use service directy -->

<button class="clear" (click)="locationService.messageService.add('test message 2')">msg2</button>
<!-- use service in service -->

<h2>My Locations</h2>

<div>
  <label>Hero name:
    <input #locationName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(locationName.value); locationName.value=''">
    add
  </button>
</div>

<ul class="locations">
  <li *ngFor="let location of locations">
    <a routerLink="/detail/{{location.id}}">
      <span class="badge">{{location.name}}</span> {{location.latitude}}
    </a>
  </li>
</ul>